<h2>Our Categories</h2>
<table class="table table-striped"  id="datatablesSimple">
  <thead>
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Update</th>
      <th scope="col"> Delete</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of CatList"  >
    
      <td>{{cat.id}}</td>
      <td> {{cat.name}}</td>
      <td><button type="button" class="btn btn-primary" > Update</button></td> 
      <td><button type="button" class="btn btn-primary" (click)="DeleteCategory(+cat.id)" > Delete</button></td> 

    </tr>
  </tbody>
</table>
<td><button type="button" class="btn btn-primary" > AddNewCategory</button></td> 